<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      'active',
      'name',
      'description',
      {id: 'tplKey', valueClassName: 'text-fixed'}
    ]) %>
  </div>
</div>
