<li data-online class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    <%- t('NAVBAR:dictionaries') %>
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    <li data-privilege="FA:MANAGE" data-module data-client-module="fa-assetClasses"><a href="#fa/assetClasses"><%- t('NAVBAR:fa:assetClasses') %></a>
    <li data-privilege="FA:MANAGE" data-module data-client-module="fa-costCenters"><a href="#fa/costCenters"><%- t('NAVBAR:fa:costCenters') %></a>
  </ul>
