<ul id="<%- idPrefix %>-searchResults" class="dropdown-menu navbar-search-results">
  <% if (results.searchName && user.isAllowedTo('USERS:VIEW')) { %>
  <li id="<%- idPrefix %>-searchName" class="dropdown-header"><%- t('NAVBAR:SEARCH:searchName', {nc12: results.searchName}) %></li>
  <li class="navbar-search-result"><a href="#users?limit(-1337)&searchName=regex=%5E<%- results.searchName %>"><i class="fa fa-spinner fa-spin"></i></a></li>
  <% } %>
</ul>
