<div class="panel panel-primary">
  <div class="panel-heading"><%- panelTitle %></div>
  <div class="panel-details">
    <%- helpers.props(model, [
      'active',
      'evalGroup1',
      'evalGroup5',
      'depRate',
      'depKey',
      'assetClass'
    ]) %>
  </div>
</div>
