@media print {
  .page[data-id="fa-details"] .hd {
    display: none;
  }
  .page[data-id="fa-details"] .bd {
    margin: 0 auto;
  }
  .fa-details-page-props .panel {
    border: none;
    color: #000;
  }
  .fa-details-page-props .panel-heading {
    padding: 0 5px 5px 5px;
    font-size: 18px;
    border-bottom: 3px solid #000;
  }
  .fa-details-page-props .prop {
    border-bottom: 1px solid #000;
  }
  .fa-details-page-props .prop-name {
    text-align: right;
  }
}
