<h3>Opis postępowania</h3>
<% include lt-intro.ejs %>
<hr>
<% include login.ejs %>
<hr>
<p>
  Kontakt w przypadku problemów technicznych z systemem:
  <a href="mailto:barbara.trykacz@signify.com">barbara.trykacz@signify.com</a>
</p>
<hr>
<p>
  Dyrektor Zakładu lub Kierownik Działu będący użytkownikiem środka trwałego w przypadku stwierdzenia,
  że określony środek trwały jest nieprzydatny, występuje z propozycją dokonania jego likwidacji.
</p>
<p>
  Likwidacja środka trwałego może nastąpić poprzez sprzedaż zbędnego środka, fizyczną likwidację tz złomowanie - LT,
  oraz likwidację częściową środka trwałego.
</p>
<p>
  W każdym przypadku podstawą do dalszych działań jest protokół zbędności środka trwałego,
  podpisany przez użytkownika, zatwierdzony przez komisję, oraz Zarząd Spółki.
</p>
<p>
  Inicjator otrzymuje polecenie przygotowania likwidacji środka trwałego od właściciela.
  W tym celu wystawia protokół zbędności, uzupełnia wymagane pola a następnie przesyła
  do akceptacji komisji.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-protocol.pl.png" width="600">
  Ekran etapu protokołu zbędności LT
</p>
<p>
  Osoba wskazana jako członek komisji otrzyma e-mail informujący o tej roli wraz z linkiem
  do aplikacji celem zatwierdzenia dokumentu.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-committee.pl.png" width="600">
  Ekran etapu akceptacji komisji LT
</p>
<p>
  Po zatwierdzeniu przez wszystkich członków komisji, dokument przechodzi do weryfikacji INFOSYS.
</p>
<hr>
<p>
  Aby sprawdzić status dokumentów dla własnego profilu, należy wejść w zakładkę
  OT lub LT wpisać zakres dat - wybrać z listy rozwijalnej <em>Etap</em> - następnie Filtruj.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-filter.pl.png">
  Filtrowanie dokumentów OT
</p>
