<h3>Opis postępowania</h3>
<% include lt-intro.ejs %>
<hr>
<% include login.ejs %>
<hr>
<p>
  Kontakt w przypadku problemów technicznych z systemem:
  <a href="mailto:barbara.trykacz@signify.com">barbara.trykacz@signify.com</a>
</p>
<hr>
<p>
  Dyrektor Zakładu / Kierownik Działu będący użytkownikiem środka trwałego w przypadku stwierdzenia,
  że określony środek trwały jest nieprzydatny, występuje z propozycją dokonania jego likwidacji.
</p>
<p>
  Przyczyną likwidacji może być sprzedaż zbędnego środka, stworzenie nowego środka po przez przyłączenie
  do istniejącego lub fizyczną likwidację.
</p>
<p>
  W każdym przypadku podstawą do dalszych działań jest protokół zbędności środka trwałego,
  podpisany przez użytkownika, zatwierdzony przez komisję oraz Zarząd Spółki.
</p>
<p>
  Inicjator, otrzymuje polecenie przygotowania likwidacji środka trwałego od właściciela.
  W tym celu wystawia protokół zbędności, uzupełnia wymagane pola a następnie przesyła do akceptacji komisji.
</p>
<p>
  Osoba wskazana jako członek komisji otrzyma e-mail informujący o tej roli wraz z linkiem
  do aplikacji celem zatwierdzenia dokumentu.
</p>
<p>
  Zatwierdzony dokument zostaje przesłany do weryfikacji INFOSYS.
  Infosys uzupełnia na protokole wartości fiskalne, ekonomiczne oraz umorzenie środka i następnie
  przesyła dokument do akceptacji właściciela. W przypadku zastrzeżeń odrzuca formularz.
</p>
<p>
  Właściciel akceptuje formularz protokołu zbędności i przesyła do następnych akceptacji.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-owner.pl.png" width="600">
  Ekran etapu akceptacji właściciela LT
</p>
<p>
  W przypadku fizycznej likwidacji środka lub likwidacji częściowej środka trwałego, właściciel akceptuje dokument LT:
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-accept-lt.pl.png" width="600">
  Ekran etapu akceptacji likwidacji LT przez właściciela
</p>
<p>
  W przypadku sprzedaży środka, właściciel akceptuje dokument PT:
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-accept-pt.pl.png" width="600">
  Ekran etapu akceptacji sprzedaży PT przez właściciela
</p>
<p>
  Amortyzacja środków trwałych naliczana jest w okresach miesięcznych. W przypadku środka niezamortyzowanego,
  którego akceptacja wypadła na przełomie miesięcy, właściciel środka powinien wybrać opcję <em>Odrzuć</em>
  wówczas dokument wróci do weryfikacji.
  Po wybraniu <em>Brak zgody</em> dokument jest anulowany (czyli brak zgody na likwidację).
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-accept-blocked.pl.png" width="600">
  Ekran akceptacji likwidacji na przełomie miesięcy
</p>
<hr>
<p>
  Aby sprawdzić status dokumentów dla własnego profilu, należy wejść w zakładkę
  OT lub LT wpisać zakres dat - wybrać z listy rozwijalnej <em>Etap</em> - następnie Filtruj.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-filter.pl.png">
  Filtrowanie dokumentów OT
</p>
