<p>
  Proces rejestracji środków trwałych w Signify o/Kętrzyn realizowany jest za pośrednictwem
  systemu informatycznego pod nazwą <em>Aplikacja obiegu dokumentów środków trwałych</em>.
  Cały proces odbywa się elektronicznie.
</p>
