<h3>Opis postępowania</h3>
<% include ot-intro.ejs %>
<hr>
<% include login.ejs %>
<hr>
<p>
  Kontakt w przypadku problemów technicznych z systemem:
  <a href="mailto:barbara.trykacz@signify.com">barbara.trykacz@signify.com</a>
</p>
<hr>
<p>
  Po zakończeniu zadania inwestycyjnego Inicjator dla którego zostało otwarte zlecenie
  inwestycyjne, uzupełnia formularz przyjęcia środka trwałego w aplikacji OT.
</p>
<p>
  W przypadku nowego środka trwałego (linia montażowa) lub zw. wartości istniejącego
  środka (np. modernizacji istniejącej linii) wymagany jest protokół odbioru technicznego.
</p>
<p>
  W przypadku zakupów inwestycyjnych nie wymagających rozruchu, oraz montażu (np. tester)
  protokół odbioru środka trwałego nie jest konieczny. Dokument OT zostanie wystawiony
  na podstawie faktury zakupu.
</p>
<p>
  Po uzupełnieniu danych w protokole odbioru technicznego, Inicjator zapisuje
  zmiany i przesyła do autoryzacji właściciela środka trwałego. Pola z czerwoną gwiazdką są
  polami obowiązkowymi.
</p>
<p>
  Jako załącznik należy dodać wersję papierową protokołu odbioru technicznego,
  oraz zdjęcie nowego środka trwałego.
</p>
<p>
  Osoba wskazana jako Autoryzator otrzyma e-mail informującego o tej roli wraz z linkiem do aplikacji.
</p>
<p>
  Ekran jak niżej zawiera wszystkie informacje dotyczące protokołu i wymaga potwierdzenia:
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-auth.pl.png" width="500">
  Ekran etapu autoryzacji protokołu OT
</p>
<p>
  Po autoryzacji protokołu  przez właściciela środka trwałego, inicjator uzupełnia ostatnie
  dane na dokumencie OT: wartość środka trwałego, konto kosztów, strategicznego dostawcę,
  zapisuje zmiany i przesyła do weryfikacji INFOSYS.
</p>
<p>
  INFOSYS weryfikuje dane na dokumencie OT, nadaje nr. inwentarzowy środka, uzupełnia informacje dot.
  stopy umorzenia, okresów amortyzacji i ponownie przesyła OT do akceptacji właściciela środka trwałego.
</p>
<p>
  Jeśli właściciel nie ma zastrzeżeń, akceptuje zweryfikowany dokument OT,
  który zostaje przesłany do księgowania.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-accept.pl.png" width="500">
  Ekran etapu akceptacji dokumentu OT
</p>
<hr>
<p>
  Aby sprawdzić status dokumentów dla własnego profilu, należy wejść w zakładkę
  OT lub LT wpisać zakres dat - wybrać z listy rozwijalnej <em>Etap</em> - następnie Filtruj.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-filter.pl.png">
  Filtrowanie dokumentów OT
</p>
