<h3>Informacja ogólna</h3>
<%- include('ot-intro.ejs') %>
<hr>
<p>
  W celu zalogowania się do systemu korzystamy z przeglądarki
  <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>:
</p>
<ol>
  <li>Na pasku adresu wpisujemy: <code>https://st.walkner.pl</code></li>
  <li>
    Jeżeli nie jesteśmy zalogowani, to pokaże się formularz logowania:
    <img src="/app/fa-common/assets/help/login-form.pl.png">
  </li>
  <li>
    Wpisujemy swój login lub adres e-mail (domyślnie login to nazwa przed <code>@signify.com</code>, czyli dla adresu
    e-mail <code>jan.kowalski@signify.com</code> login to <code>jan.kowalski</code>)
    oraz hasło (domyślnie takie samo jak login) i klikamy przycisk <button type="button" class="btn btn-primary">Zaloguj się</button>.
  </li>
  <li>Jeżeli login i hasło są takie same, to przed pierwszym logowaniem trzeba będzie ustawić nowe hasło.</li>
</ol>
<hr>
<p>
  Kontakt w przypadku problemów technicznych z systemem:
  <a href="mailto:monika.sokolowska@signify.com">monika.sokolowska@signify.com</a>
</p>
<hr>
<h3>Księgowanie OT</h3>
<p>
  Po zakończeniu zadania inwestycyjnego Inicjator, dla którego zostało otwarte zlecenie
  Inwestycyjne, uzupełnia formularz przyjęcia środka trwałego w aplikacji OT.
</p>
<p>
  INFOSYS weryfikuje dane na dokumencie OT, sprawdza kompletność załączników, nadaje nr inwentarzowy
  środka trwałego, uzupełnia informacje dot. stopy umorzenia, okresów amortyzacji i ponownie przesyła
  do zatwierdzenia właścicielowi.
</p>
<p>
  Jeżeli właściciel nie ma zastrzeżeń, akceptuje zweryfikowany dokument OT, który zostaje przesłany
  do księgowania w Pune.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-booking.pl.png" width="500">
  Ekran etapu księgowania OT
</p>
<h3>Księgowanie LT</h3>
<p>
  Dyrektor Zakładu lub Kierownik Działu będący użytkownikiem środka trwałego w przypadku stwierdzenia,
  że określony środek trwały jest nieprzydatny, występuje z propozycją dokonania jego likwidacji.
</p>
<p>
  Likwidacja środka trwałego może nastąpić poprzez sprzedaż zbędnego środka, fizyczną likwidację tz złomowanie - LT
  oraz likwidację częściową środka trwałego.
</p>
<p>
  W każdym przypadku podstawą do dalszych działań jest protokół zbędności środka trwałego,
  podpisany przez użytkownika, zatwierdzony  przez komisję, oraz  Zarząd Spółki.
  Zatwierdzony dokument zostaje przesłany do weryfikacji Infosys.
</p>
<p>
  Infosys uzupełnia wartości fiskalne, ekonomiczne oraz umorzenie środka i następnie
  przesyła  dokument do akceptacji właściciela środka.
</p>
<p>
  Po akceptacji właściciela, dokument LT zostaje przesłany do księgowania w PUNE.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-booking.pl.png" width="600">
  Ekran etapu księgowania LT
</p>
