<h3>General information</h3>
<p>
  The process of registration of fixed assets in Signify Kętrzyn department is carried out through
  an IT system called <em>Application for circulation of documents on fixed assets</em>.
  The entire process takes place electronically.
</p>
<hr>
<p>
  In order to log in to the program, use the
  <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>
  browser:
</p>
<ol>
  <li>On the address bar enter: <code>https://st.walkner.pl</code></li>
  <li>
    If you aren't logged in, the login form will show up:
    <img src="/app/fa-common/assets/help/login-form.en.png">
  </li>
  <li>
    Enter your login or e-mail and password and click the
    <button type="button" class="btn btn-primary">Log in</button> button.
  </li>
  <li>If the login and password are the same, then a new password will have to be set before the first log in.</li>
</ol>
<hr>
<p>
  In case of technical problems with the system, please contact:
  <a href="mailto:monika.sokolowska@signify.com">monika.sokolowska@signify.com</a>
</p>
<hr>
<h3>OT booking</h3>
<p>
  After completion of the investment task the Initiator for whom the Investment order was opened,
  completes the fixed asset acceptance form in the OT application.
</p>
<p>
  INFOSYS verifies the data on the OT document, checks the completeness of the attachments,
  assigns the inventory number of the fixed asset, completes the information on the depreciation rate,
  depreciation periods and sends it back to the owner for approval.
</p>
<p>
  If the owner has no objections, he accepts the verified OT document, which is sent to Pune for posting.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-booking.en.png" width="500">
  OT booking stage screen
</p>
<h3>LT booking</h3>
<p>
  If it is found that a specific fixed asset is useless, the Plant Manager or the Department Manager who is a user
  of said fixed asset makes a proposal to liquidate it.
</p>
<p>
  Liquidation of a fixed asset may take place through the sale of an obsolete asset,
  physical liquidation i.e. scrapping - LT, and partial liquidation of a fixed asset.
</p>
<p>
  In each case, the basis for further actions is a protocol of redundancy of the fixed asset,
  signed by the user, approved by the committee, and the Management Board of the Company.
  The approved document is sent to Infosys for verification.
</p>
<p>
  Infosys supplements the fiscal and economic values, and the redemption of the asset and then sends
  the document to the approval of the owner of the asset.
</p>
<p>
  If the owner has no objections, he accepts the verified LT document, which is sent to Pune for posting.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-booking.en.png" width="600">
  LT booking stage screen
</p>
