<h3>Informacja ogólna</h3>
<%- include('ot-intro.ejs') %>
<hr>
<p>
  W celu zalogowania się do systemu korzystamy z przeglądarki
  <a href="https://www.google.com/chrome/" target="_blank">Google Chrome</a>:
</p>
<ol>
  <li>Na pasku adresu wpisujemy: <code>https://st.walkner.pl</code></li>
  <li>
    Jeżeli nie jesteśmy zalogowani, to pokaże się formularz logowania:
    <img src="/app/fa-common/assets/help/login-form.pl.png">
  </li>
  <li>
    Wpisujemy swój login lub adres e-mail (domyślnie login to nazwa przed <code>@signify.com</code>, czyli dla adresu
    e-mail <code>jan.kowalski@signify.com</code> login to <code>jan.kowalski</code>)
    oraz hasło (domyślnie takie samo jak login) i klikamy przycisk <button type="button" class="btn btn-primary">Zaloguj się</button>.
  </li>
  <li>Jeżeli login i hasło są takie same, to przed pierwszym logowaniem trzeba będzie ustawić nowe hasło.</li>
</ol>
<hr>
<p>
  Kontakt w przypadku problemów technicznych z systemem:
  <a href="mailto:barbara.trykacz@signify.com">barbara.trykacz@signify.com</a>
</p>
<hr>
<h3>Weryfikacja OT</h3>
<p>
  Po zakończeniu zadania inwestycyjnego Inicjator  dla którego zostało otwarte zlecenie
  inwestycyjne, uzupełnia formularz przyjęcia środka trwałego w aplikacji OT.
</p>
<p>
  W przypadku nowego środka trwałego (linia montażowa) lub zw. wartości istniejącego
  środka (np. modernizacji istniejącej linii) wymagany jest protokół odbioru technicznego.
</p>
<p>
  W przypadku zakupów inwestycyjnych nie wymagających rozruchu , oraz montażu (np. tester)
  protokół odbioru środka trwałego nie jest konieczny. Dokument OT zostanie wystawiony na podstawie faktury zakupu.
</p>
<p>
  Po uzupełnieniu danych w protokole odbioru technicznego Inicjator zapisuje
  zmiany i przesyła do autoryzacji właściciela środka trwałego. Pola z czerwoną gwiazdką są
  polami obowiązkowymi.
</p>
<p>
  Jako załącznik należy dodać wersję papierową protokołu odbioru technicznego, oraz zdjęcie nowego środka trwałego.
</p>
<p>
  Po autoryzacji protokołu  przez właściciela środka trwałego, inicjator uzupełnia ostatnie
  dane na dokumencie OT: wartość środka trwałego, konto kosztów, strategicznego dostawcę,
  zapisuje zmiany i przesyła do INFOSYS.
</p>
<p>
  INFOSYS weryfikuje dane na dokumencie OT, sprawdza kompletność załączników, nadaje nr inwentarzowy środka trwałego,
  uzupełnia informacje dot. stopy umorzenia, okresów amortyzacji i ponownie przesyła do zatwierdzenia właścicielowi.
</p>
<p>
  W przypadku jakichkolwiek nieprawidłowości, INFOSYS kontaktuje się z inicjatorem lub odrzuca dokument do poprawy.
  Jeżeli właściciel nie ma zastrzeżeń, akceptuje zweryfikowany dokument OT, który zostaje przesłany do księgowania
  w Pune.
</p>
<p>
  W przypadku zmian personalnych informację o zmianie wraz z zakresem uprawnień, należy przekazać w formie pisemnej
  do <a href="mailto:barbara.trykacz@signify.com">barbara.trykacz@signify.com</a>
</p>
<p>
  Po zakończeniu procesu księgowania, dokumenty należy skompletować i zarchiwizować.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-verify.pl.png" width="500">
  Ekran weryfikacji OT
</p>
<h3>Weryfikacja LT</h3>
<p>
  Dyrektor Zakładu lub Kierownik Działu będący użytkownikiem środka trwałego w przypadku stwierdzenia,
  że określony środek trwały jest nieprzydatny, występuje z propozycją dokonania jego likwidacji.
</p>
<p>
  Likwidacja środka trwałego może nastąpić poprzez sprzedaż zbędnego środka, fizyczną likwidację tz złomowanie - LT,
  oraz likwidację częściową środka trwałego.
</p>
<p>
  W każdym przypadku podstawą do dalszych działań jest protokół zbędności środka trwałego,
  podpisany przez użytkownika, zatwierdzony przez komisję oraz Zarząd Spółki.
</p>
<p>
  Inicjator otrzymuje polecenie przygotowania likwidacji środka trwałego od właściciela.
  W tym celu wystawia protokół zbędności, uzupełnia wymagane pola a następnie przesyła do akceptacji komisji.
</p>
<p>
  Osoba wskazana jako członek komisji otrzyma e-mail informujący o tej roli wraz z linkiem
  do aplikacji w celu zatwierdzenia dokumentu.
</p>
<p>
  Zatwierdzony dokument zostaje przesłany do weryfikacji Infosys.
</p>
<p>
  Infosys uzupełnia wartości fiskalne, ekonomiczne oraz umorzenie środka a następnie
  przesyła dokument do akceptacji właściciela klikając <em>Weryfikuj</em> (ekran poniżej)</p>
<p>
  W przypadku zastrzeżeń ze strony Infosys, dokument zostaje odrzucony do poprawy
  Inicjatorowi.
</p>
<p>
  Po zakończeniu procesu księgowania, dokumenty należy skompletować i zarchiwizować.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/lt-verify.pl.png" width="500">
  Ekran weryfikacji LT
</p>
<hr>
<p>
  Aby sprawdzić status dokumentów dla własnego profilu, należy wejść w zakładkę
  OT lub LT wpisać zakres dat - wybrać z listy rozwijalnej <em>Etap</em> - następnie Filtruj.
</p>
<p class="fa-help-img">
  <img src="/app/fa-common/assets/help/ot-filter.pl.png">
  Filtrowanie dokumentów OT
</p>
