<tr class="fa-edit-participant">
  <td class="fa-edit-participant-label"><%- t('FORM:edit:committee:person', {no: no}) %>
  <td><input name="committee[]" type="text" value="<%- value %>">
  <td><button class="btn btn-link" type="button" data-action="committee:remove" title="<%- t('FORM:edit:committee:remove') %>"><i class="fa fa-times"></i></button>
</tr>
