<div class="fa-edit-page fa-lt-edit-page">
  <div id="<%- idPrefix %>-form" class="fa-edit-page-form"></div>
  <div id="<%- idPrefix %>-changes" class="fa-edit-page-changes fa-changes-fixed"></div>
</div>
