<div class="hidden">
  <h1>v1.1.1</h1>
  <h2><%- time.format('2020-03-02', 'LL') %></h2>
  <h3>Dokumenty OT/LT</h3>
  <ul>
    <li>Poprawiono błąd powodujący w niektórych przypadkach usunięcie dostępu do dokumentu dla użytkowników
      biorących w nim udział.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v1.1.0</h1>
  <h2><%- time.format('2020-01-24', 'LL') %></h2>
  <h3>Dokumenty OT/LT</h3>
  <ul>
    <li>Zmieniono akcje anulowania i odrzucania tak, aby przed wymagane było podanie komentarza.</li>
  </ul>
  <h3>Narzędzia</h3>
  <ul>
    <li>Dodano nowe pliki do pobrania w menu Narzędzia.</li>
  </ul>
</div>
<div class="hidden">
  <h1>v1.0.0</h1>
  <h2><%- time.format('2020-01-01', 'LL') %></h2>
  <h3>Inne</h3>
  <ul>
    <li>Pierwsza wersja.</li>
  </ul>
</div>
