<div class="hidden">
  <h1>v1.4.0</h1>
  <h2><%- time.format('2022-08-09', 'LL') %></h2>
  <h3>Dokumenty OT</h3>
  <ul>
    <li>Usunięto załącznik 'Checklista'.</li>
    <li>Zmieniono 'Nr ZPLX' na 'Nr zamówienia wewnętrznego'.</li>
    <li>Dodano etap Anulowany do filtra listy.</li>
    <li>Dodano filtr Typ odbioru.</li>
    <li>Dodano formularz wspomagający tworzenie nazwy środka trwałego.</li>
  </ul>
</div>
