<h1>v1.3.1</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT</h3>
<ul>
  <li>Usunięto możliwość podawania wartości ZPLX.</li>
  <li>Dodano możliwość cofnięcia się do etapu 1. Protokół z etapu 3. Weryfikacja.</li>
</ul>
