<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT</h3>
<ul>
  <li>Zmieniono dodawanie tak, aby dokument zapisywany był w bazie dopiero po wysłaniu formularza pierwszego etapu.</li>
</ul>
