<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT/LT</h3>
<ul>
  <li>Zmieniono formularz edycji dokumentu tak, aby użytkownik był przekierowywany do strony ze szczegółami
    jeżeli nie ma uprawnień do edycji. Wcześniej wyświetlany był formularz bez możliwości zapisania zmian.</li>
  <li>Zmieniono pole 'Stopa % umorzenia' na liczbę z dwoma miejscami po przecinku.</li>
</ul>
