<h1>?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT</h3>
<ul>
  <li>Poprawiono błąd powodujący usuwanie załączników dodanych do konkretnych środków trwałych po upłynięciu
    30 minut.</li>
</ul>
