<h1>v1.1.0</h1>
<h2><%- time.format('2020-01-24', 'LL') %></h2>
<h3>Dokumenty OT/LT</h3>
<ul>
  <li>Zmieniono akcje anulowania i odrzucania tak, aby przed wymagane było podanie komentarza.</li>
</ul>
<h3>Narzędzia</h3>
<ul>
  <li>Dodano nowe pliki do pobrania w menu Narzędzia.</li>
</ul>
