<h1>v1.1.1</h1>
<h2><%- time.format('2020-03-02', 'LL') %></h2>
<h3>Dokumenty OT/LT</h3>
<ul>
  <li>Poprawiono błąd powodujący w niektórych przypadkach usunięcie dostępu do dokumentu dla użytkowników
    biorących w nim udział.</li>
</ul>
