<h1>?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT</h3>
<ul>
  <li>Poprawiono błąd powodujący niewysyłanie powiadomień e-mail do właścicieli środków trwałych.</li>
  <li>Zmieniono sortowanie listy z <em>Data dokumentu (malejąco)</em> na <em>Data dokumentu (malejąco)</em> oraz
    <em>Nr dokumentu</em> (malejąco), aby uniknąć losowej kolejności dokumentów z taką samą datą.</li>
</ul>
