<h1>v1.2.1</h1>
<h2><%- time.format('2021-04-06', 'LL') %></h2>
<h3>Dokumenty OT/LT</h3>
<ul>
  <li>Poprawiono błąd powodujący brak dostępu do formularza edycji dokumentu na etapie Akceptacji przez przypisanego
    Właściciela, który żadnych dodatkowych uprawnień do zarządzania dokumentami.</li>
  <li>Poprawiono błąd powodujący niewyświetlanie przycisku 'Edytuj' na stronie ze szczegółami dokumentu, dla
    użytkowników, którzy nabyli uprawnienia do edycji w trakcie przebywania na stronie ze szczegółami (wcześniej
    trzeba było ponownie wejść na stronę).</li>
  <li>Poprawiono błąd uniemożliwiający wpisanie do pól PLN mniej niż 10 groszy.</li>
  <li>Poprawiono błąd powodujący, że komentarz wysłany przez użytkownika za pomocą formularza historii zmian
    na stronie edycji dokumentu, nie jest widoczny dla tego użytkownika.</li>
  <li>Poprawiono błąd powodujący niewyświetlanie w niektórych przypadkach pola Strategiczny dostawca/wykonawca
    na etapie Przyjęty.</li>
  <li>Poprawiono błąd uniemożliwiający wyeksportowanie dokumentów wyfiltrowanych wg pól tekstowych (np. nazwa).</li>
  <li>Dodano kolumnę 'Nr ZPLX' do listy dokumentów OT.</li>
  <li>Dodano możliwość anulowania dokumentu na etapie Księgowania.</li>
</ul>
