<h1>v?.?.?</h1>
<h2><%- time.format(Date.now(), 'LL') %></h2>
<h3>Dokumenty OT</h3>
<ul>
  <li>Zmieniono 'Nr ZPLX' na 'Nr zamówienia wewnętrznego'.</li>
  <li>Dodano etap Anulowany do filtra listy.</li>
  <li>Dodano filtr Typ odbioru.</li>
  <li>Dodano formularz wspomagający tworzenie nazwy środka trwałego.</li>
</ul>
