<div class="changelog">
  <% include ./latest.ejs %>
  <% include ./2019.ejs %>
  <p>
    <button id="<%- idPrefix %>-showMore" class="btn btn-link btn-lg btn-block"><%- t('showMore') %></button>
    <button id="<%- idPrefix %>-showAll" class="btn btn-link btn-lg btn-block hidden"><%- t('showAll') %></button>
  </p>
</div>
